# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  test:
    name: 'Test'
    runs-on: ubuntu-latest
    container: node:16

    steps:
      - uses: actions/checkout@v2
      - env: 
          HUSKY: 0
      - run: npm install
      - run: npm test
