# see https://help.github.com/cn/actions/language-and-framework-guides/publishing-nodejs-packages

name: Release Packages

on:
  workflow_dispatch: {}
  push:
    tags:
      - 'v*'

jobs:
  publish:
    name: 'Publish to npm'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - name: Enable Corepack (PNPM from packageManager)
        run: |
          corepack enable

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '18.x'
          registry-url: 'https://registry.npmjs.org'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        env:
          HUSKY: 0

      - name: Build
        run: pnpm -w build

      - name: Verify npm authentication
        run: |
          echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc
          npm whoami
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Publish with Changesets
        run: pnpm release
        env:
          NPM_CONFIG_PROVENANCE: true
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
